.menubar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  font-family: "montserrat";
  background: #f1f1f1;
  width: 100%;
  line-height: 70px;
  transition: 0.4s ease;
}
.anchors {
  background: none;
  text-decoration: none;
  color: grey;
  transition: 0.4s ease;
}
.menubar:hover {
  height: 140px;
}
.menubar:hover li {
  transform: scale(1.4);
}
.menubar li:hover {
  border-top: 2px solid black;
  transition: 0s;
  /* box-shadow: 0px 0px 3px 3px grey; */
}
.menubar li:hover .anchors {
  color: black;
}

.menubar li {
  font-size: 18px;
  float: left;
  padding: 10px;
  margin: 0 30px;
  transition: 0.4s ease;
  border: bisque thin;
  list-style-type: none;
}
